@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: linear-gradient(to right, #FFFFC4,#FFFF91);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d8d87a;
    width: 600px;
    height: 500px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FFFF5E;
    text-align: center;
    text-shadow: 1px 1px 2px #d8d879e1;
}

h2{
    color: #999960;
}
p{
    text-align: justify;

}